@media screen and (max-width : 1200px) {
    .social-icon-icon {
        margin-left: 500px;
    }
}

@media screen and (max-width : 768px) {
    #hero img {
        width: 40%;
    }
    
    .social-icon {
        left: 50%;
        transform: translate(-50%);
        width: 10%;
    }

    #hero .row {
        padding-bottom: 180px;
    }

    .btn-custom1 {
        width: 80%;
    }

    #profile p {
        text-align: justify !important;
    }

    #skill.card h3 {
        font-size: 1.3rem;
    }

    #skill .card {
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-top: 20px;
    }
}

@media screen and (max-width : 576px) {
    

    .btn-custom1 {
        width: 80%;
    }

    #hero .row {
        padding-bottom: 85px;
    }

    .social-icon-icon {
        margin-left: 190px;
    }
}

@media screen and (max-width : 350px) {
    #portofolio .col-md-12 {
        flex-direction: column;
    }

    #hero .row {
        padding-bottom: 10px;
        padding-top: 1px;
    }

    #hero img {
        width: 40%;
    }

    #hero h1 {
        font-size: 30px;
    }

    #hero .social-icon {
        top: 360px !important;
    }

    .cv {
        font-size: 1rem;
        text-align: center;
    }

    #profile p {
        font-size: 15px !important;
    }

    .social-icon-icon {
        margin-left: 125px;
        width: 5;
    }

    #hero .container {
        text-align: center;
    }
}
